In [3]:
import io

In [4]:
import requests

In [5]:
import re

In [6]:
import pandas as pd

In [7]:
from PyPDF2 import PdfReader

In [8]:
headers = {'User-Agent': 'Mozilla/5.0 (X11; Windows; Windows x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.5060.114 Safari/537.36'}

In [22]:
url = 'https://stopcorona.tn.gov.in/wp-content/uploads/2021/12/Media-Bulletin-03-09-21-COVID-19.pdf'

In [23]:
response = requests.get(url=url, headers=headers, timeout=120)

In [24]:
on_fly_mem_obj = io.BytesIO(response.content)

In [25]:
pdf_file = PdfReader(on_fly_mem_obj)

In [13]:
pdf_file

In [14]:
info = pdf_file.metadata

In [15]:
number_of_pages = len(pdf_file.pages)

In [16]:
print(info)

{'/Author': 'HP', '/Creator': 'Microsoft® Word 2010', '/CreationDate': "D:20210903163920+05'30'", '/ModDate': "D:20210903163920+05'30'", '/Producer': 'Microsoft® Word 2010'}

In [17]:
title = info.title

In [18]:
title

In [19]:
page = pdf_file.pages[0].extract_data

In [20]:
tableMatch=re.search('Sl.', page.extract_text())

In [21]:
text=page.extract_text()[tableMatch.start():]

AttributeError: 'NoneType' object has no attribute 'start'

In [21]:
text=text.strip(" ")

In [22]:
text=re.sub(r'\s?-\s?\n', '-', text)

In [25]:
print(len(text.split('\n')))

40

In [104]:
text=re.sub(r'\s\(', '(', text)

In [110]:
tdict={}

In [107]:
list1=text.split('\n')[:-1]

In [139]:
list1

['Sl.No District Feb(11-28) 29-Feb 01-Mar 02-Mar 03-Mar 04-Mar 05-Mar 06-Mar 07-Mar 08-Mar 09-Mar Total ',
 '1 Ariyalur 4                      4  ',
 '2 Chengalpattu 29  3 1   1          4  2 40 ',
 '3 Chennai 235  21 22 5 23 12 11 4 15 27 31 406 ',
 '4 Coimbatore 41  1   2  4   2    2  2 3 57 ',
 '5 Cuddalore 7    1  1 3         4  4 20 ',
 '6 Dharmapuri 0                    1  1 ',
 '7 Dindigul 1  1 3               1  6 ',
 '8 Erode 7  1               7  1 16 ',
 '9 Kallakuruchi 1        2              3  ',
 '10 Kancheepuram 9  2 2 1 11 2   1  3 13 19 63 ',
 '11 Kanyakumari 13        2  1 1         17  ',
 '12 Karur 4                      4  ',
 '13 Krishnagiri 2                  1    3  ',
 '14 Madurai 20  1 1     1            23  ',
 '15 Nagapattinam 33  1 4   10          9  4 61 ',
 '16 Namakkal 9  2     5  5 1 3   1  4 30 ',
 '17 Nilgris 0    1                  1  ',
 '18 Perambalur 2                  1    3  ',
 '19 Pudukottai 12        2    2      4  1 21 ',
 '20 Ramanathapuram  50       1    2      2  1 56 ',
 '21 Ranipet 1        4              5  ',
 '22 Salem 14  4 1 1 6     1    1  1 29 ',
 '23 Sivaganga 16      1            2    19  ',
 '24 Tenkasi 4                      4  ',
 '25 Thanjavur 27        1  5 4 10 1 4 7 59 ',
 '26 Theni 0  2     1          1  1 5 ',
 '27 Thiruvallur 17  1 1   2  2       2  6 31 ',
 '28 Thiruvarur 15  1 1   1    3  5   6  1 33 ',
 '29 Thoothukudi 27  1 1 12 7 2 2   1  2   55  ',
 '30 Tiruchirapalli 24  3 6 3 3   2  2 5 3 12 63 ',
 '31 Tirunelveli 2    1    3    1      1  7 15 ',
 '32 Tirupathur 2                      2  ',
 '33 Tiruppur 5    1    1            4  11 ',
 '34 Tiruvannamalai 4    1    1  1       1  1 9 ',
 '35 Vellore 6    1    1  1     2  2 5 18 ',
 '36 Villupuram 3          2      1      6  ',
 '37 Virudhunagar 10    1    2  1   2  2 4 4 26 ',
 '  Total 656  45 50 26 97 35 31 28 32 104 121 1225 ']

In [164]:
for i in list1:
    list1[list1.index(i)]=i.replace("  ", " ")

In [165]:
list1

['Sl.No District Feb(11-28) 29-Feb 01-Mar 02-Mar 03-Mar 04-Mar 05-Mar 06-Mar 07-Mar 08-Mar 09-Mar Total ',
 '1 Ariyalur 4           4 ',
 '2 Chengalpattu 29 3 1  1     4 2 40 ',
 '3 Chennai 235 21 22 5 23 12 11 4 15 27 31 406 ',
 '4 Coimbatore 41 1  2 4  2  2 2 3 57 ',
 '5 Cuddalore 7  1 1 3     4 4 20 ',
 '6 Dharmapuri 0          1 1 ',
 '7 Dindigul 1 1 3        1 6 ',
 '8 Erode 7 1        7 1 16 ',
 '9 Kallakuruchi 1    2       3 ',
 '10 Kancheepuram 9 2 2 1 11 2  1 3 13 19 63 ',
 '11 Kanyakumari 13    2 1 1     17 ',
 '12 Karur 4           4 ',
 '13 Krishnagiri 2         1  3 ',
 '14 Madurai 20 1 1   1      23 ',
 '15 Nagapattinam 33 1 4  10     9 4 61 ',
 '16 Namakkal 9 2   5 5 1 3  1 4 30 ',
 '17 Nilgris 0  1         1 ',
 '18 Perambalur 2         1  3 ',
 '19 Pudukottai 12    2  2   4 1 21 ',
 '20 Ramanathapuram 50    1  2   2 1 56 ',
 '21 Ranipet 1    4       5 ',
 '22 Salem 14 4 1 1 6   1  1 1 29 ',
 '23 Sivaganga 16   1      2  19 ',
 '24 Tenkasi 4           4 ',
 '25 Thanjavur 27    1 5 4 10 1 4 7 59 ',
 '26 Theni 0 2   1     1 1 5 ',
 '27 Thiruvallur 17 1 1  2 2    2 6 31 ',
 '28 Thiruvarur 15 1 1  1  3 5  6 1 33 ',
 '29 Thoothukudi 27 1 1 12 7 2 2  1 2  55 ',
 '30 Tiruchirapalli 24 3 6 3 3  2 2 5 3 12 63 ',
 '31 Tirunelveli 2  1  3  1   1 7 15 ',
 '32 Tirupathur 2           2 ',
 '33 Tiruppur 5  1  1      4 11 ',
 '34 Tiruvannamalai 4  1  1 1    1 1 9 ',
 '35 Vellore 6  1  1 1   2 2 5 18 ',
 '36 Villupuram 3     2   1   6 ',
 '37 Virudhunagar 10  1  2 1  2 2 4 4 26 ',
 ' Total 656 45 50 26 97 35 31 28 32 104 121 1225 ']

In [169]:
list2=[i.split(" ")[1:-1] for i in list1]

In [170]:
list2

[['District',
  'Feb(11-28)',
  '29-Feb',
  '01-Mar',
  '02-Mar',
  '03-Mar',
  '04-Mar',
  '05-Mar',
  '06-Mar',
  '07-Mar',
  '08-Mar',
  '09-Mar',
  'Total'],
 ['Ariyalur', '4', '', '', '', '', '', '', '', '', '', '', '4'],
 ['Chengalpattu', '29', '3', '1', '', '1', '', '', '', '', '4', '2', '40'],
 ['Chennai',
  '235',
  '21',
  '22',
  '5',
  '23',
  '12',
  '11',
  '4',
  '15',
  '27',
  '31',
  '406'],
 ['Coimbatore', '41', '1', '', '2', '4', '', '2', '', '2', '2', '3', '57'],
 ['Cuddalore', '7', '', '1', '1', '3', '', '', '', '', '4', '4', '20'],
 ['Dharmapuri', '0', '', '', '', '', '', '', '', '', '', '1', '1'],
 ['Dindigul', '1', '1', '3', '', '', '', '', '', '', '', '1', '6'],
 ['Erode', '7', '1', '', '', '', '', '', '', '', '7', '1', '16'],
 ['Kallakuruchi', '1', '', '', '', '2', '', '', '', '', '', '', '3'],
 ['Kancheepuram',
  '9',
  '2',
  '2',
  '1',
  '11',
  '2',
  '',
  '1',
  '3',
  '13',
  '19',
  '63'],
 ['Kanyakumari', '13', '', '', '', '2', '1', '1', '', '', '', '', '17'],
 ['Karur', '4', '', '', '', '', '', '', '', '', '', '', '4'],
 ['Krishnagiri', '2', '', '', '', '', '', '', '', '', '1', '', '3'],
 ['Madurai', '20', '1', '1', '', '', '1', '', '', '', '', '', '23'],
 ['Nagapattinam', '33', '1', '4', '', '10', '', '', '', '', '9', '4', '61'],
 ['Namakkal', '9', '2', '', '', '5', '5', '1', '3', '', '1', '4', '30'],
 ['Nilgris', '0', '', '1', '', '', '', '', '', '', '', '', '1'],
 ['Perambalur', '2', '', '', '', '', '', '', '', '', '1', '', '3'],
 ['Pudukottai', '12', '', '', '', '2', '', '2', '', '', '4', '1', '21'],
 ['Ramanathapuram', '50', '', '', '', '1', '', '2', '', '', '2', '1', '56'],
 ['Ranipet', '1', '', '', '', '4', '', '', '', '', '', '', '5'],
 ['Salem', '14', '4', '1', '1', '6', '', '', '1', '', '1', '1', '29'],
 ['Sivaganga', '16', '', '', '1', '', '', '', '', '', '2', '', '19'],
 ['Tenkasi', '4', '', '', '', '', '', '', '', '', '', '', '4'],
 ['Thanjavur', '27', '', '', '', '1', '5', '4', '10', '1', '4', '7', '59'],
 ['Theni', '0', '2', '', '', '1', '', '', '', '', '1', '1', '5'],
 ['Thiruvallur', '17', '1', '1', '', '2', '2', '', '', '', '2', '6', '31'],
 ['Thiruvarur', '15', '1', '1', '', '1', '', '3', '5', '', '6', '1', '33'],
 ['Thoothukudi', '27', '1', '1', '12', '7', '2', '2', '', '1', '2', '', '55'],
 ['Tiruchirapalli',
  '24',
  '3',
  '6',
  '3',
  '3',
  '',
  '2',
  '2',
  '5',
  '3',
  '12',
  '63'],
 ['Tirunelveli', '2', '', '1', '', '3', '', '1', '', '', '1', '7', '15'],
 ['Tirupathur', '2', '', '', '', '', '', '', '', '', '', '', '2'],
 ['Tiruppur', '5', '', '1', '', '1', '', '', '', '', '', '4', '11'],
 ['Tiruvannamalai', '4', '', '1', '', '1', '1', '', '', '', '1', '1', '9'],
 ['Vellore', '6', '', '1', '', '1', '1', '', '', '2', '2', '5', '18'],
 ['Villupuram', '3', '', '', '', '', '2', '', '', '1', '', '', '6'],
 ['Virudhunagar', '10', '', '1', '', '2', '1', '', '2', '2', '4', '4', '26'],
 ['Total',
  '656',
  '45',
  '50',
  '26',
  '97',
  '35',
  '31',
  '28',
  '32',
  '104',
  '121',
  '1225']]

In [172]:
tdf=pd.DataFrame(list2[1:], columns=list2[0])

In [173]:
tdf

,District,Feb(11-28),29-Feb,01-Mar,02-Mar,03-Mar,04-Mar,05-Mar,06-Mar,07-Mar,08-Mar,09-Mar,Total
0,Ariyalur,4,,,,,,,,,,,4
1,Chengalpattu,29,3,1,,1,,,,,4,2,40
2,Chennai,235,21,22,5,23,12,11,4,15,27,31,406
3,Coimbatore,41,1,,2,4,,2,,2,2,3,57
4,Cuddalore,7,,1,1,3,,,,,4,4,20
5,Dharmapuri,0,,,,,,,,,,1,1
6,Dindigul,1,1,3,,,,,,,,1,6
7,Erode,7,1,,,,,,,,7,1,16
8,Kallakuruchi,1,,,,2,,,,,,,3
9,Kancheepuram,9,2,2,1,11,2,,1,3,13,19,63
10,Kanyakumari,13,,,,2,1,1,,,,,17
11,Karur,4,,,,,,,,,,,4
12,Krishnagiri,2,,,,,,,,,1,,3
13,Madurai,20,1,1,,,1,,,,,,23
14,Nagapattinam,33,1,4,,10,,,,,9,4,61
15,Namakkal,9,2,,,5,5,1,3,,1,4,30
16,Nilgris,0,,1,,,,,,,,,1
17,Perambalur,2,,,,,,,,,1,,3
18,Pudukottai,12,,,,2,,2,,,4,1,21
19,Ramanathapuram,50,,,,1,,2,,,2,1,56
20,Ranipet,1,,,,4,,,,,,,5
21,Salem,14,4,1,1,6,,,1,,1,1,29
22,Sivaganga,16,,,1,,,,,,2,,19
23,Tenkasi,4,,,,,,,,,,,4
24,Thanjavur,27,,,,1,5,4,10,1,4,7,59
25,Theni,0,2,,,1,,,,,1,1,5
26,Thiruvallur,17,1,1,,2,2,,,,2,6,31
27,Thiruvarur,15,1,1,,1,,3,5,,6,1,33
28,Thoothukudi,27,1,1,12,7,2,2,,1,2,,55
29,Tiruchirapalli,24,3,6,3,3,,2,2,5,3,12,63
30,Tirunelveli,2,,1,,3,,1,,,1,7,15
31,Tirupathur,2,,,,,,,,,,,2
32,Tiruppur,5,,1,,1,,,,,,4,11
33,Tiruvannamalai,4,,1,,1,1,,,,1,1,9
34,Vellore,6,,1,,1,1,,,2,2,5,18
35,Villupuram,3,,,,,2,,,1,,,6
36,Virudhunagar,10,,1,,2,1,,2,2,4,4,26
37,Total,656,45,50,26,97,35,31,28,32,104,121,1225